body {
  position: relative; 
  background-image: url("images/background.jpg");
  background-size: cover;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

U {
  text-decoration-style: double;
  color: #ffffff;

}

table td[data-href] {
        cursor: pointer;
    }
	.grayedout p {
    color: gray;
    font-size: 12;
    text-decoration: none;
}
.grayedout {
    background-color: #d3d3d3;
    font-size: 12;
}
i {
    text-decoration: underline;
    -webkit-text-decoration-color: red; /* Safari */  
    text-decoration-color: red;
  }

 